.container{
    /*grilla/ primero filas luego columnas*/
    display: grid;

   /*  grid-template: 100px 1fr 150px/ 200px 1fr; */
    height: 100vh;

    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 100px);
    
    /*alineacion de grilla*/
    /* justify-items: center ; */ /*horizontal*/
     /* align-items: center ;  */ /*vertical*/

     justify-content: center;
     align-content: center ;
    


    /*minmax()--> permite asignar un máximo de columna seguido de el máximo de espacio a ocupar*/
    /* grid-template: 300px 100px 100px / repeat(4, minmax(200px, 1fr)); */

    /*colocar espaciado entre columnas/filas*/
    /* grid-column-gap: 20px;
    grid-row-gap: 30px; */
    /*primero filas luego columnas*/
    grid-gap: 5px; 
    /*fracciones, para dividir los espacios de una manera exacta*/
    /*fracciones= fr*/

}
.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid red;
}
.item:nth-of-type(5){
    /*selft--> a ti mismo*/
  