body{
    margin: 0;
    font-family: arial;
}
.post-list{
    display:grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    grid-gap:28px;
}

.post{
    cursor: pointer;
    position: relative;
    display: block;
}
.post-image{
    margin: 0;
}
.post-image img{
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
}
.post-overlay{
    background: rgba(0,0, 0, .3);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.post:hover .post-overlay{
    display: flex;

}
.post-likes, .post-comments{
    margin: 5px;
    text-align:center;
    width: 50px;
    font-weight: bold;
    display: inline-block;
}

@media screen and (max-width: 768px){
    .post-list{
        grid-gap: 3px;
    }
}